<h1>Teams</h1>

<div class="list-group">
<% @teams.each do |team| %>
  <%= link_to team, :class => "list-group-item" do %>
    <%= team.name %>
    <span class="badge"><%= team.distinct_positions %> positions</span>
  <% end %>
<% end %>
</div>

<%= link_to new_team_path do %>
  <span class="glyphicon glyphicon-plus"> </span> Add a team
<% end %>