<h1>Add a New Team</h1>

<div class="well">
  We've all been through the desert on a horse with no name, but nobody cheers for a team with no name.  
  <br />Give us the name of your team, and make it good, please.
</div>

<%= render 'form' %>
